.team-badges.js-masonry{:data => { :masonry_options => h({ :gutter => 10, :itemSelector => ".badge-outer", :isFitWidth => true }.to_json) }}
  = present @teams do |team_presenter|
    = team_presenter.badge
