$body-background: #D5E0F0

//$badge-background: #A3BBFE
//$badge-border: #0547FD

//$badge-background: #D5E0F0
//$badge-border: #09254E

$badge-background: #FFFFFF
$badge-border: #09254E

$heading-font: "nimbus-sans"
$content-font: "fanwood"

$topline-background: #000
$topline-foreground: #FFF

$form-container-width: 600px
$form-label-width: 150px

$alert-error-background-color: #F99
$alert-error-foreground-color: #000

$alert-notice-background-color: #9F9
$alert-notice-foreground-color: #000
