body
  background-color: $body-background
  font-family: $content-font
  margin: 0px
  padding: 0px !important

h1, h2, h3, h4, h5, h6, label
  font-family: $heading-font

h1
  font-size: 30px
  border-bottom: 1px solid black
  margin-bottom: 25px

.top-line

  +clearfix

  text-align: center
  font-family: $heading-font
  font-size: 24px
  margin-bottom: 25px
  background-color: $topline-background
  color: $topline-foreground
  padding: 5px 0px 5px 0px

  .top-line-left
    float: left
    padding-left: 10px

  .top-line-right
    float: right
    font-size: 12px
    padding-right: 10px
    text-align: right

  .line2
    margin-top: 5px

  .brand
    font-size: 30px
    .brand-first
      font-weight: 700
    .brand-second
      font-weight: 300

  a
    color: $topline-foreground

.form-container

  width: $form-container-width
  margin: 0px auto
  position: relative

  .control-group

    font-size: 20px

    label
      display: block
      width: $form-label-width
      position: absolute
      left: 0px
      line-height: 35px

    div.controls

      display: block
      margin-left: $form-label-width

      input[type="text"], input[type="email"], input[type="password"]
        font-size: 20px
        padding: 5px
        margin: 0px -10px 10px 0px
        width: $form-container-width - $form-label-width - 10px
