@import "compass/utilities/general/clearfix"

.user-badges-inner

  margin: 0px auto 50px auto

.user-badge

  width: 300px
  min-height: 80px
  background-color: #EEE
  padding: 5px
  border: 1px solid #DDD

  img
    float: left
    padding-right: 10px
    padding-bottom: 10px

  span.user-email

    display: block
    font-weight: bold
    border-bottom: 1px solid #DDD

// .user-badge
//   display: inline-block
//   width: 300px
//   background-color: #FFEEEE
//   position: relative
//   padding-left: 85px
//   padding-top: 20px
//   min-height: 60px
//   vertical-align: top
//   margin-bottom: 5px
//   border: 1px solid black
//   .user-avatar
//     position: absolute
//     top: 0px
//     left: 0px
//     display: inline-block
//   .user-email
//     position: absolute
//     top: 0px
//     left: 85px
//     font-weight: bold
//     display: inline-block
//   .user-message
//     float: right
