@import "compass/utilities/general/clearfix"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"

//$badge-background: #A3BBFE
//$badge-border: #0547FD

//$badge-background: #D5E0F0
//$badge-border: #09254E

$badge-background: #FFFFFF
$badge-border: #09254E

.user-badges-inner

  margin: 0px auto 50px auto

.user-badge

  +border-radius(3px)
  +single-box-shadow

  width: 300px
  min-height: 60px
  background-color: $badge-background
  padding: 5px 5px 5px 5px
  border: 1px solid $badge-border
  margin-bottom: 10px

  img
    float: left
    padding-right: 10px

  div.user-email

    display: block
    font-weight: bold
    border-bottom: 1px solid $badge-border
    margin-bottom: 5px

  span.user-timestamp

    display: block
    margin-top: 5px
    color: #666
    font-style: italic
    text-align: right
    padding-right: 5px
