.container-800

  %h1 add a member to #{@team.name}

  = form_for @user, :url => team_members_path(@team), :html => { :class => "large-form" } do |f|

    /= f.text_field :name, :placeholder => "Enter the name of the person you'd like to invite"
    = f.text_field :email, :placeholder => "Enter the email address of the person you'd like to invite"

    = f.submit
